<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="dark">
    <div class="container-fluid">
      {% include header.html %}
      <div class="container-sm mb-5">
        <div id="main" class="row justify-content-center">
          <div class="col-auto">
            {{ content }}
          </div>
        </div>
      </div>
      <footer id="footer" class="fixed-bottom">
        <div class="row justify-content-center">
          <div class=col-sm-auto">
            <small class="text-muted">
              ©2020 Thomas Bredillet
            </small>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
